#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

#validation-input.valid {
  outline: 3px solid #4caf50;
}

#validation-input.invalid {
  outline: 3px solid #f44336;
}
